<a class="skip-link" href="#main-content">{{ content().skipLink }}</a>
@if (showAnnouncement()) {
  <app-announcement-bar
    [message]="content().announcement"
    [actionLabel]="content().announcementCta"
    [closeLabel]="content().announcementClose"
    [dismissible]="true"
    actionHref="#ritual"
    (dismiss)="showAnnouncement.set(false)"
  />
}
<app-public-header />
<main id="main-content" tabindex="-1">
  <router-outlet />
</main>
<app-public-footer
  [statement]="content().footerStatement"
  [groups]="footerGroups()"
  [note]="content().footerRights"
  [backToTop]="content().backToTop"
/>
@if (showCookieNotice()) {
  <app-cookie-notice
    [title]="content().cookieTitle"
    [body]="content().cookieBody"
    [acceptLabel]="content().cookieAccept"
    [settingsLabel]="content().cookieSettings"
    (accept)="showCookieNotice.set(false)"
    (openSettings)="showCookieNotice.set(false)"
  />
}
